<div class="wrapper">
  <h2>Utwórz nowy dokument</h2>
  <button class="new-bttn">
    <span class="plus">&#43;</span>
  </button>
  <h2>Wszystkie dokumenty</h2>
  <div class="every-docs">
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
    <app-existing-document></app-existing-document>
  </div>
</div>
